@mixin flex ($hor: flex-start, $ver: flex-start) {
  display: flex;
  justify-content: $hor;
  align-items: $ver;
}

@mixin pos ($top: auto, $left: auto, $bottom: auto, $right: auto) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

@mixin size ($size) {
  width: $size;
  height: $size;
}