.login-container {
  margin: 50px auto;
  max-width: 600px;
}
.login-header {
  padding: 20px 60px;
  background-color: $color-primary;
  color: $color-white;
}
.btn-login {
  padding: 12px 16px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}