.messenger-container {
  @include flex(center, center);
  top: 81px;
  position: sticky;
  height: calc(100vh - 81px);
  padding-right: 50px;
}
.messenger {
  width: 328px;
  height: 100%;
  max-height: 500px;
  border-radius: 8px;
}
.mess-avt::after {
  @include pos(auto, auto, 0, 0);
  @include size(8px);
  content: '';
  background-color: lime;
  border-radius: 50%;
  border: 1px solid lightgray;
}
.mess-item {
  margin: 8px 0;
  max-width: 70%;
  background-color: $color-messenger;
  color: $color-white;
  border-radius: 18px;
  padding: 8px;
  white-space: pre-line;
}

.mess-constant { 
  font-weight: bold;
  position: relative;
}
.mess-constant__key {
  @include pos($top: -40px, $left: -10px);
  display: none;
  padding: 5px 10px 8px;
  border-radius: 10px;
  background-color: $color-black;
}
.mess-constant__value {
  display: inline;
  cursor: pointer;
}
.mess-constant:hover .mess-constant__key {
  display: inline;
}