button, input, textarea {
  border: 3px solid $color-black;
  background-color: $color-white;
  border-radius: 5px;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba($color: #555, $alpha: .5); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}