// Flex
.flex {
  display: flex;
}
.flex-1 {
  flex: 1
}
.flex-col {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.align-items-center {
  align-items: center;
}

// Width
.width-10 {
  width: 10%;
  max-width: 10%;
  flex: 0 0 10%;
}
.width-20 {
  width: 20%;
  max-width: 20%;
  flex: 0 0 20%;
}
.width-30 {
  width: 30%;
  max-width: 30%;
  flex: 0 0 30%;
}
.width-40 {
  width: 40%;
  max-width: 40%;
  flex: 0 0 40%;
}
.width-50 {
  width: 50%;
  max-width: 50%;
  flex: 0 0 50%;
}
.width-70 {
  width: 70%;
  max-width: 70%;
  flex: 0 0 70%;
}
.width-100 {
  width: 100%;
  max-width: 100%;
  flex: 0 0 100%;
}

// Background
.bg-primary {
  background-color: $color-primary;
}
.bg-secondary {
  background-color: $color-secondary;
}
.bg-white {
  background-color: $color-white;
}
.bg-gray {
  background-color: $color-gray;
}

// Border
.border {
  border: 5px solid $color-black;
  border-radius: 5px;
}
.border-1 {
  border: 1px solid $color-black;
}
.border-3 {
  border: 3px solid $color-black;
}
.border-top {
  border-top: 5px solid $color-black;
}
.border-bottom {
  border-bottom: 5px solid $color-black;
}
.border-right {
  border-right: 3px solid $color-black;
}
.border-top-3 {
  border-top: 3px solid $color-black;
}
.border-bottom-3 {
  border-bottom: 3px solid $color-black;
}
.border-primary {
  border-color: $color-primary;
}
.border-white {
  border-color: $color-white;
}
.border-black {
  border-color: $color-black;
}
.borderless {
  border: 0;
}
.circle {
  border-radius: 50%;
}

// Misc
.circle {
  border-radius: 50%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.pointer {
  cursor: pointer;
}
.overlay {
  overflow: overlay;
}
/* Text */
.uppercase {
  text-transform: uppercase;
}
.font-bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.pre-wrap {
  white-space: pre-wrap;
}
.text-white {
  color: $color-white;
}
.text-primary {
  color: $color-primary;
}
.text-center {
  text-align: center;
}